extends ../../../../../views/layout
block append headcss
    link(type='text/css',href='./css/bootstrap-select.css',rel='stylesheet')
    link(type='text/css',href='./MachineStatus/web/css/status.css',rel='stylesheet')

block append headjavascript
    script(type='text/javascript',src='./javascripts/UI/Scripts/bootstrap-select.js')
    script(type='text/javascript',src='./MAP/web/javascripts/echarts.min.js')
    script(type='text/javascript',src='./MachineStatus/web/controller/pinganCtrl.js')
block content
    .row-fluid
            .span12
                ul.breadcrumb
                    li
                        i.icon-home
                        a(href='/') #{lang.EmployeePerformance.Home}
                        i.icon-angle-right
                    li
                        a(href='javascript:;', data-lang='MachineScheduling') #{lang.MachineStatus.EquipmentStatusMonitoring}
    .row-fluid(ng-controller="StatusCtrl")
        form.form-horizontal(style='padding: 5px 2px 0px; border: 1px solid rgb(238, 238, 238);')
                .row-fluid
                    div.bothfloat
                        .span(style='width: 315px !important;')
                            .control-group(style='margin-bottom: 5px;')
                                label.control-label(data-lang='Common.PASSWORD',style='margin-right:10px') #{lang.Alarm.MachineGroup}
                                input(type="text" id="MAC_NBRname"  name="MAC_NBRname" class="span6 m-wrap")
                        .span(style='width: 350px !important;')
                            .control-group(style='margin-bottom: 5px;')
                                label.control-label(data-lang='Common.PASSWORD',style='margin-right:10px') #{lang.Alarm.MachineName}
                                select(multiple  id="my-select" data-live-search-placeholder="搜索" title="" data-actions-box="true" class='selectpicker')
                        .span(style='width: 314px !important;margin-left:0px !important;')
                            .control-group(style='margin-bottom: 5px;')
                                label.control-label(data-lang='Common.PASSWORD',style='margin-right:10px') #{lang.Alarm.MachineNo}
                                select(multiple  id="my-selects" data-live-search-placeholder="搜索" title="" data-actions-box="true" class='selectpicker')
                    div.bothfloat
                        .span(style='width:300px !important')
                            .control-group(style='margin-bottom: 5px;')
                                label.control-label(data-lang='Common.PASSWORD',style="width:87px") #{lang.EmployeePerformance.StartTime}
                                .BZcontrols
                                    input#startTime.m-wrap(type='text', name='startTime')
                        .span(style='padding-left:13px')
                            .control-group(style='margin-bottom: 5px;')
                                label.control-label(data-lang='Common.PASSWORD') #{lang.EmployeePerformance.EndTime}
                                .BZcontrols
                                    input#endTime.m-wrap(type='text', name='endTime')
                        .span(style='padding-left:35px;')
                            .control-group(style='margin-bottom: 10px;')
                                .BZcontrols(style='line-height: 32px;')
                                    button.btn.green(id='searchData',style='margin-right:20px;float:right',ng-click='search()') #{lang.Alarm.Search}
                                        i.icon-search
        .status_list
        #loading(style='font-size:25px;text-align:center;display:none;margin-top:10px;margin-bottom:20px;')
            i.icon-spinner.icon-spin
            |  #{lang.MachineStatus.AreTryingToLoadData}
    script#treeview-template(type='text/kendo-ui-template').
        <i class="#:item.icon#"></i>
        <span nodeid="#:item.id#" pid="#:item.PID#"  onclick='addOnClick(this)' level_nbr="#:item.LEVEL_NBR#" attr="treenode" flag="#:item.flag#">#:item.text#</span>